{{ partial "header.html" . }}


<div class="page-content">
  <div class="container-fluid">
    <div class="col-xs-12 content-header">
      <div class="edit-on-github">
        <a target="_blank" href="https://github.com/{{.Site.Params.github.repositoryName}}/tree/{{.Site.Params.github.branch}}/layouts/index.html"><i>Edit on Github</i> <span class="cam-docs-github"></span></a>
      </div>
      <h1 class="page-title">Get started with Camunda</h1>
    </div>

    <div class="col-xs-12 content-text">
      There are different ways to get started with Camunda BPM.Choose from the following guides:
    </div>

    <div class="col-xs-12 menu-pages">
      <dl>
        {{ range $.Site.Menus.main }}
          <dt>
            <a href="{{.URL}}">{{ .Name }}</a>
          </dt>
          <dd>
            {{ if .Pre}}
              {{ trim .Pre "" | markdownify }}
            {{ end }}
          </dd>
        {{ end }}
        </dl>
    </div>
  </div>
</div>

<div class="page-toc">
  {{partial "banner.html"}}
</div>

{{ partial "footer.html" . }}
