RewriteEngine ON

# Redirect to HTTPS if not already
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]

# Default site is the manual
RewriteRule ^$ /manual/

# Javadoc legacy? (found in old docs htaccess)
RewriteRule ^latest/api-references/java/ /manual/7.3/reference/javadoc/

# Javadoc
RewriteRule ^manual/develop/reference/javadoc/$ /javadoc/camunda-bpm-platform/7.7-SNAPSHOT [R=301,L]
RewriteRule ^manual/latest/reference/javadoc/$ /javadoc/camunda-bpm-platform/7.6 [R=301,L]
RewriteRule ^manual/([^/]+)/reference/javadoc/$ /javadoc/camunda-bpm-platform/$1 [R=301,L]

# Manual without version
RewriteRule ^manual/$ /manual/7.6/ [R=301,L]

# Redirect /manual/X to /manual/7.6 if folder X does not exits
RewriteCond %{REQUEST_URI} ^/manual/([^/]+)
RewriteCond %{DOCUMENT_ROOT}/manual/%1 !-d
RewriteRule ^manual/(.*) /manual/7.6/$1 [R=301,L]

# Enterprise
RewriteRule ^enterprise/previous-downloads.html$ /enterprise/download/ [R=301,L]
RewriteRule ^(latest|7.3|7.2|7.1|7.0)/enterprise /enterprise/ [R=301,L]

# CMMN 1.0
RewriteRule ^get-started/cmmn10/(.*) /get-started/cmmn11/$1 [R=301,L]
RewriteRule ^manual/develop/reference/cmmn10/(.*) /manual/develop/reference/cmmn11/$1 [R=301,L]
RewriteRule ^manual/latest/reference/cmmn10/(.*) /manual/latest/reference/cmmn11/$1 [R=301,L]

# Get Started
RewriteRule ^(latest|7.3|7.2|7.1|7.0)/guides/getting-started-guides /get-started/ [R=301,L]
RewriteRule ^guides/getting-started-guides /get-started/ [R=301,L]

# Manual (User Guide)
RewriteRule ^(7.3|7.2|7.1|7.0)/api-references/javadoc/(.*) /javadoc/camunda-bpm-platform/$1/$2 [R=301,L]
RewriteRule ^(7.3|7.2|7.1|7.0)/(.*) /manual/$1/$2 [R=301,L]
RewriteRule ^latest/api-references/javadoc/(.*) /javadoc/camunda-bpm-platform/7.3/$1 [R=301,L]
RewriteRule ^latest/(.*) /manual/7.3/$1 [R=301,L]
RewriteRule ^guides/(.*) /manual/7.3/guides/$1 [R=301,L]
RewriteRule ^api-references/javadoc/(.*) /javadoc/camunda-bpm-platform/7.3/$1 [R=301,L]
RewriteRule ^api-references/(.*) /manual/7.3/api-references/$1 [R=301,L]
RewriteRule ^real-life/(.*) /manual/7.3/real-life/$1 [R=301,L]
RewriteRule ^index.html$ /manual/7.3/index.html [R=301,L]
RewriteRule ^single-page.html$ /manual/7.3/single-page.html [R=301,L]
