RewriteEngine ON

# Redirect to HTTPS if not already
RewriteCond %{HTTPS} !=on
RewriteRule ^/?(.*) https://%{SERVER_NAME}/$1 [R=301,L]

# Default site is the manual
RewriteRule ^$ /manual/
ErrorDocument 404 https://docs.camunda.org/manual/

# Javadoc legacy? (found in old docs htaccess)
RewriteRule ^latest/api-references/java/ /manual/7.3/reference/javadoc/

# Javadoc
RewriteRule ^manual/develop/reference/javadoc/(.*)$ /javadoc/camunda-bpm-platform/7.18-SNAPSHOT/$1 [R=307,L]
RewriteRule ^manual/latest/reference/javadoc/(.*)$ /javadoc/camunda-bpm-platform/7.17/$1 [R=307,L] # Bump on first alpha release
RewriteRule ^manual/([^/]+)/reference/javadoc/(.*)$ /javadoc/camunda-bpm-platform/$1/$2 [R=307,L]

# manual without version
RewriteRule ^manual/?$ /manual/7.17/ [R=307,L]

RewriteCond %{REQUEST_URI} ^/manual((?!7.17/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/manual/%1 !-d
RewriteRule ^manual/(.*) /manual/7.17/ [R=307,L]

# Redirect /manual/X to /manual/7.17/X if folder X does not exist but 7.16/X does
RewriteCond %{REQUEST_URI} ^/manual/((?!7.17/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/manual/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/manual/7.17/%1 -d
RewriteRule ^manual/(.*) /manual/7.17/$1 [R=307,L]

# Redirect /manual/X/Y to /manual/7.17/Y if folder X does not exist but 7.16/Y does
RewriteCond %{REQUEST_URI} ^/manual/((?!7.17/?)[^/]+)(/[^/]+)?
RewriteCond %{DOCUMENT_ROOT}/manual/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/manual/7.17%2 -d
RewriteRule ^manual/[^/]+(/[^/]+(?:/.*))? /manual/7.17$1 [R=307,L]

# Redirect to selected version starting page if site is unavailable
RewriteCond %{REQUEST_URI} ^/manual/((?!7.17/?)[^/]+)(.*)
RewriteCond %{DOCUMENT_ROOT}/manual/%1%2 !-d
RewriteCond %{DOCUMENT_ROOT}/manual/%1%2 !-f
RewriteCond %{DOCUMENT_ROOT}/manual/%1 -d
RewriteRule ^manual/(.*) /manual/%1 [R=307,L]

# Optimize without version
RewriteRule ^optimize/?$ /optimize/latest/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/optimize((?!latest/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/optimize/%1 !-d
RewriteRule ^optimize/(.*) /optimize/latest/ [R=307,L]

# Redirect /optimize/X to /optimize/latest/X if folder X does not exist but latest/X does
RewriteCond %{REQUEST_URI} ^/optimize/((?!latest/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/optimize/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/optimize/latest/%1 -d
RewriteRule ^optimize/(.*) /optimize/latest/$1 [R=307,L]

# Redirect /optimize/X/Y to /optimize/latest/Y if folder X does not exist but latest/Y does
RewriteCond %{REQUEST_URI} ^/optimize/((?!latest/?)[^/]+)(/[^/]+)?
RewriteCond %{DOCUMENT_ROOT}/optimize/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/optimize/latest%2 -d
RewriteRule ^optimize/[^/]+(/[^/]+(?:/.*))? /optimize/latest$1 [R=307,L]

# Redirect to selected optimize version starting page if site is unavailable
RewriteCond %{REQUEST_URI} ^/optimize/([^/]+)(.*)
RewriteCond %{DOCUMENT_ROOT}/optimize/%1%2 !-d
RewriteCond %{DOCUMENT_ROOT}/optimize/%1%2 !-f
RewriteCond %{DOCUMENT_ROOT}/optimize/%1 -d
RewriteRule ^optimize/(.*) /optimize/%1 [R=307,L]

# Cawemo without version
RewriteRule ^cawemo/?$ /cawemo/latest/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/cawemo((?!latest/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/cawemo/%1 !-d
RewriteRule ^cawemo/(.*) /cawemo/latest/ [R=307,L]

# Redirect /cawemo/X to /cawemo/latest/X if folder X does not exist but latest/X does
RewriteCond %{REQUEST_URI} ^/cawemo/((?!latest/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/cawemo/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/cawemo/latest/%1 -d
RewriteRule ^cawemo/(.*) /cawemo/latest/$1 [R=307,L]

# Redirect /cawemo/X/Y to /cawemo/latest/Y if folder X does not exist but latest/Y does
RewriteCond %{REQUEST_URI} ^/cawemo/((?!latest/?)[^/]+)(/[^/]+)?
RewriteCond %{DOCUMENT_ROOT}/cawemo/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/cawemo/latest%2 -d
RewriteRule ^cawemo/[^/]+(/[^/]+(?:/.*))? /cawemo/latest$1 [R=307,L]

# Redirect to selected Cawemo version starting page if site is unavailable
RewriteCond %{REQUEST_URI} ^/cawemo/([^/]+)(.*)
RewriteCond %{DOCUMENT_ROOT}/cawemo/%1%2 !-d
RewriteCond %{DOCUMENT_ROOT}/cawemo/%1%2 !-f
RewriteCond %{DOCUMENT_ROOT}/cawemo/%1 -d
RewriteRule ^cawemo/(.*) /cawemo/%1 [R=307,L]

# Enterprise
RewriteRule ^enterprise/previous-downloads.html$ /enterprise/download/ [R=301,L]
RewriteRule ^(latest|7.3|7.2|7.1|7.0)/enterprise /enterprise/ [R=301,L]

# Redirect /get-started/dmnXX to /get-started/dmn11 if folder dmnXX does not exist
RewriteCond %{REQUEST_URI} ^/get-started/dmn(\d+)
RewriteCond %{DOCUMENT_ROOT}/get-started/dmn%1 !-d
RewriteRule ^get-started/[^/]+(.*) /get-started/dmn$1 [R=307,L]

# CMMN 1.0
RewriteRule ^get-started/cmmn10(.*) /get-started/cmmn11$1 [R=301,L]
RewriteRule ^manual/develop/reference/cmmn10/(.*) /manual/develop/reference/cmmn11/$1 [R=301,L]
RewriteRule ^manual/latest/reference/cmmn10/(.*) /manual/latest/reference/cmmn11/$1 [R=301,L]

# CMMN 1.1: redirect the getting started guide to the reference documentation
RewriteRule ^get-started/cmmn11(.*) /manual/latest/reference/cmmn11/ [R=307,L]

# Get Started
RewriteRule ^(latest|7.3|7.2|7.1|7.0)/guides/getting-started-guides /get-started/ [R=301,L]
RewriteRule ^guides/getting-started-guides /get-started/ [R=301,L]
RewriteRule ^get-started/javaee6 /get-started/javaee7 [R=301,L]
RewriteRule ^get-started/bpmn20 /get-started/quick-start [R=301,L]

# Manual (User Guide)
RewriteRule ^(7.3|7.2|7.1|7.0)/api-references/javadoc/(.*) /javadoc/camunda-bpm-platform/$1/$2 [R=301,L]
RewriteRule ^(7.3|7.2|7.1|7.0)/(.*) /manual/$1/$2 [R=301,L]
RewriteRule ^latest/api-references/javadoc/(.*) /javadoc/camunda-bpm-platform/7.3/$1 [R=301,L]
RewriteRule ^latest/(.*) /manual/7.3/$1 [R=301,L]
RewriteRule ^guides/(.*) /manual/7.3/guides/$1 [R=301,L]
RewriteRule ^api-references/javadoc/(.*) /javadoc/camunda-bpm-platform/7.3/$1 [R=301,L]
RewriteRule ^api-references/(.*) /manual/7.3/api-references/$1 [R=301,L]
RewriteRule ^real-life/(.*) /manual/7.3/real-life/$1 [R=301,L]
RewriteRule ^index.html$ /manual/7.3/index.html [R=301,L]
RewriteRule ^single-page.html$ /manual/7.3/single-page.html [R=301,L]
