RewriteEngine ON

RewriteRule ^$ /manual/

RewriteRule ^manual/$ /manual/latest [R=301,L]

RewriteRule ^manual/develop/reference/javadoc/$ /javadoc/camunda-bpm-platform/7.4-SNAPSHOT [R=301,L]
RewriteRule ^manual/latest/reference/javadoc/$ /javadoc/camunda-bpm-platform/7.4 [R=301,L]
RewriteRule ^manual/([^/]+)/reference/javadoc/$ /javadoc/camunda-bpm-platform/$1 [R=301,L]
