{{ partial "header.html" . }}


<div class="page-content">
  <div class="container-fluid">
    <div class="col-xs-12 content-header">
      <div class="edit-on-github">
        <a target="_blank" href="https://github.com/{{.Site.Params.github.repositoryName}}/tree/{{.Site.Params.github.branch}}/layouts/index.html"><i>Edit on Github</i> <span class="cam-docs-github"></span></a>
      </div>
      <h1 class="page-title">Camunda Platform 7 Security Guide</h1>
    </div>

    <div class="col-xs-12 content-text">
      <p>This page describes Camunda Platform 7(also referred to as the 'software')  from a security perspective. It has four parts:</p>

      <p>
      1. <b>Security Policy</b>: Describes the software's security policy, including how we deal with security issues and how the security of the software is continuously maintained.
      </p>

      <p>
      2. <b>Instructions for operating the software securely</b>: Provides an overview of how to secure a Camunda Platform 7installation. In order to secure a Camunda Platform 7 installation, Camunda Platform 7itself must be configured correctly and it must be integrated correctly into its environment. This section also identifies areas where we consider security issues to be relevant for the specific Camunda Platform 7 product and listed those in the subsequent sections. Compliance for those areas is ensured based on common industry best practices and influenced by security requirements of standards like OWASP Top 10 and others.
      </p>

      <p>
      3. <b>Security Notices</b>: Announcements of known vulnerabilities for which fix releases and/or practical workarounds are available.
      </p>

      <p>
      4. <b>Reporting a Vulnerability</b>: Explains how to report a security vulnerability to Camunda.
    </div>

    <div class="col-xs-12 menu-pages">
      <dl>
        {{ range $.Site.Menus.main }}
          <dt>
            <a href="{{.URL}}">{{ .Name }}</a>
          </dt>
          <dd>
            {{ if .Pre}}
              {{ trim .Pre "" | markdownify }}
            {{ end }}
          </dd>
        {{ end }}
        </dl>
    </div>
  </div>
</div>

<div class="page-toc">
  {{partial "banner.html"}}
</div>

{{ partial "footer.html" . }}
