RewriteEngine ON

RewriteRule ^$ /manual/

RewriteCond %{DOCUMENT_ROOT}/manual/master -d
RewriteRule ^manual/$ /manual/master [R=301,L]

RewriteCond %{DOCUMENT_ROOT}/manual/master !-d
RewriteRule ^manual/$ /manual/latest [R=301,L]
