RewriteEngine ON

RewriteRule ^$ /manual/
ErrorDocument 404 https://stage.docs.camunda.org/manual/latest/

# Javadoc legacy? (found in old docs htaccess)
RewriteRule ^latest/api-references/java/ /manual/latest/reference/javadoc/

# Javadoc
RewriteRule ^manual/develop/reference/javadoc/$ /javadoc/camunda-bpm-platform/7.13-SNAPSHOT [R=307,L]
RewriteRule ^manual/latest/reference/javadoc/$ /javadoc/camunda-bpm-platform/7.13 [R=307,L]
RewriteRule ^manual/([^/]+)/reference/javadoc/$ /javadoc/camunda-bpm-platform/$1 [R=307,L]

# manual without version
RewriteRule ^manual/?$ /manual/latest/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/manual((?!latest/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/manual/%1 !-d
RewriteRule ^manual/(.*) /manual/latest/ [R=307,L]

# Redirect /manual/X to /manual/latest/X if folder X does not exist but latest/X does
RewriteCond %{REQUEST_URI} ^/manual/((?!latest/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/manual/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/manual/latest/%1 -d
RewriteRule ^manual/(.*) /manual/latest/$1 [R=307,L]

# Redirect /manual/X/Y to /manual/latest/Y if folder X does not exist but latest/Y does
RewriteCond %{REQUEST_URI} ^/manual/((?!latest/?)[^/]+)(/[^/]+)?
RewriteCond %{DOCUMENT_ROOT}/manual/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/manual/latest%2 -d
RewriteRule ^manual/[^/]+(/[^/]+(?:/.*))? /manual/latest$1 [R=307,L]


# Optimize technical guide
RewriteRule ^optimize/develop/technical-guide/configuration/?$ /optimize/develop/technical-guide/setup/configuration/ [R=301,L]
RewriteRule ^optimize/latest/technical-guide/configuration/?$ /optimize/latest/technical-guide/setup/configuration/ [R=301,L]
RewriteRule ^optimize/develop/technical-guide/installation/?$ /optimize/develop/technical-guide/setup/installation/ [R=301,L]
RewriteRule ^optimize/latest/technical-guide/installation/?$ /optimize/latest/technical-guide/setup/installation/ [R=301,L]

# Optimize without version
RewriteRule ^optimize/?$ /optimize/latest/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/optimize((?!latest/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/optimize/%1 !-d
RewriteRule ^optimize/(.*) /optimize/latest/ [R=307,L]

# Redirect /optimize/X to /optimize/latest/X if folder X does not exist but latest/X does
RewriteCond %{REQUEST_URI} ^/optimize/((?!latest/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/optimize/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/optimize/latest/%1 -d
RewriteRule ^optimize/(.*) /optimize/latest/$1 [R=307,L]

# Redirect /optimize/X/Y to /optimize/latest/Y if folder X does not exist but latest/Y does
RewriteCond %{REQUEST_URI} ^/optimize/((?!latest/?)[^/]+)(/[^/]+)?
RewriteCond %{DOCUMENT_ROOT}/optimize/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/optimize/latest%2 -d
RewriteRule ^optimize/[^/]+(/[^/]+(?:/.*))? /optimize/latest$1 [R=307,L]


# Cawemo without version
RewriteRule ^cawemo/?$ /cawemo/latest/ [R=301,L]

RewriteCond %{REQUEST_URI} ^/cawemo((?!latest/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/cawemo/%1 !-d
RewriteRule ^cawemo/(.*) /cawemo/latest/ [R=307,L]

# Redirect /cawemo/X to /cawemo/latest/X if folder X does not exist but latest/X does
RewriteCond %{REQUEST_URI} ^/cawemo/((?!latest/)[^/]+)
RewriteCond %{DOCUMENT_ROOT}/cawemo/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/cawemo/latest/%1 -d
RewriteRule ^cawemo/(.*) /cawemo/latest/$1 [R=307,L]

# Redirect /cawemo/X/Y to /cawemo/latest/Y if folder X does not exist but latest/Y does
RewriteCond %{REQUEST_URI} ^/cawemo/((?!latest/?)[^/]+)(/[^/]+)?
RewriteCond %{DOCUMENT_ROOT}/cawemo/%1 !-d
RewriteCond %{DOCUMENT_ROOT}/cawemo/latest%2 -d
RewriteRule ^cawemo/[^/]+(/[^/]+(?:/.*))? /cawemo/latest$1 [R=307,L]


# Enterprise
RewriteRule ^enterprise/previous-downloads.html$ /enterprise/download/ [R=301,L]
RewriteRule ^(latest|7.3|7.2|7.1|7.0)/enterprise /enterprise/ [R=301,L]

# Redirect /get-started/cmmnXX to /get-started/cmmn11 if folder cmmnXX does not exist
# Redirect /get-started/dmnXX to /get-started/dmn11 if folder dmnXX does not exist
RewriteCond %{REQUEST_URI} ^/get-started/(dmn|cmmn)(\d+)
RewriteCond %{DOCUMENT_ROOT}/get-started/%1%2 !-d
RewriteRule ^get-started/[^/]+(.*) /get-started/%111$1 [R=307,L]

# CMMN 1.0
RewriteRule ^get-started/cmmn10/(.*) /get-started/cmmn11/$1 [R=301,L]
RewriteRule ^manual/develop/reference/cmmn10/(.*) /manual/develop/reference/cmmn11/$1 [R=301,L]
RewriteRule ^manual/latest/reference/cmmn10/(.*) /manual/latest/reference/cmmn11/$1 [R=301,L]

# Get Started
RewriteRule ^(latest|7.3|7.2|7.1|7.0)/guides/getting-started-guides /get-started/ [R=301,L]
RewriteRule ^guides/getting-started-guides /get-started/ [R=301,L]
RewriteRule ^get-started/javaee6 /get-started/javaee7 [R=301,L]
RewriteRule ^get-started/bpmn20 /get-started/quick-start [R=301,L]

# Manual (User Guide)
RewriteRule ^(7.3|7.2|7.1|7.0)/api-references/javadoc/(.*) /javadoc/camunda-bpm-platform/$1/$2 [R=301,L]
RewriteRule ^(7.3|7.2|7.1|7.0)/(.*) /manual/$1/$2 [R=301,L]
RewriteRule ^latest/api-references/javadoc/(.*) /javadoc/camunda-bpm-platform/7.3/$1 [R=301,L]
RewriteRule ^latest/(.*) /manual/7.3/$1 [R=301,L]
RewriteRule ^guides/(.*) /manual/7.3/guides/$1 [R=301,L]
RewriteRule ^api-references/javadoc/(.*) /javadoc/camunda-bpm-platform/7.3/$1 [R=301,L]
RewriteRule ^api-references/(.*) /manual/7.3/api-references/$1 [R=301,L]
RewriteRule ^real-life/(.*) /manual/7.3/real-life/$1 [R=301,L]
RewriteRule ^index.html$ /manual/7.3/index.html [R=301,L]
RewriteRule ^single-page.html$ /manual/7.3/single-page.html [R=301,L]
